@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(173.98deg, #02889B 4.77%, rgba(6, 194, 174, 0) 148.46%);
}